# Folders
obj
bin
lib

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Build #
*.exp
*.ncb
*.suo
*.user
*.pdb
*.sdf
*.opensdf
*.opendb
*.layout
*.cbTemp
*.depend
*.log
*.tlog
*.db

# Executables
*.exe
*.out
*.app
